/* Containers */
.container-fluid {
    padding: 0;
}

/* Top navbar */
.link-phone {
    margin-right: 2.5rem;
    text-decoration:none;
}

.link-email {
    text-decoration:none;
}

.fa-phone {
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    margin-right: 0.5rem;
    color: white!important;
  }

.fa-envelope {
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    margin-right: 0.5rem;
    color: white!important;
}

.fa-facebook {
    padding: 15px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    margin-right: 5rem;
    color: white!important;
    background: #3B5998;
  }


@media only screen and (max-width: 990px) {
    
    .link-phone {
        margin-left: 0.5rem;
        margin-right: 1rem;
        text-decoration:none;
    }

    .fa-facebook {
        padding: 10px;
        font-size: 10px;
        text-align: center;
        text-decoration: none;
        margin: 0 auto;
        color: white!important;
        background: #3B5998;
      }

}


/* Navbar menu */
.menu-style {
    padding: 2rem;
}

.navbar-image {
    margin-left: 10%;
    width: 100px;
    height: 100px;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 5rem;
}
  
.nav-item {
    padding: 5px 10px;
}

.nav-link {
    font-size: 16px;
}


@media only screen and (max-width: 990px) {
    
    .menu-style {
        padding: 1rem;
    }

    .navbar-image {
        margin-left: 2%;
        width: 50px;
        height: 50px;
    }

}


/* Logo */
.logo-image {
    width: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-50%);
    z-index: -1;
}

.logo-text {
    font-size: 6rem;
    padding-top: 20%;
    color: white;
}


@media only screen and (max-width: 990px) {
    
    .logo-image {
        width: 100%;
        position: absolute;
        width: 100%;
        height: 40%;
        transform: translate(-50%);
        z-index: -1;
    }

    .logo-text {
        font-size: 2rem;
        padding-top: 40%;
    }

}