/* Body style */
body {
    font-family: 'Quicksand', sans-serif;
}

/* Containers */
.container-fluid {
    padding: 0;
}

/* Top navbar */
.link-phone {
    margin-right: 2.5rem;
    text-decoration:none;
}

.link-email {
    text-decoration:none;
}

.fa-phone {
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    margin-right: 0.5rem;
    color: white!important;
  }

.fa-envelope {
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    margin-right: 0.5rem;
    color: white!important;
}

.fa-facebook {
    padding: 15px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    margin-right: 5rem;
    color: white!important;
    background: #3B5998;
  }


@media only screen and (max-width: 990px) {
    
    .link-phone {
        margin-left: 0.5rem;
        margin-right: 1rem;
        text-decoration:none;
    }

    .fa-facebook {
        padding: 10px;
        font-size: 10px;
        text-align: center;
        text-decoration: none;
        margin: 0 auto;
        color: white!important;
        background: #3B5998;
      }

}


/* Navbar menu */
.menu-style {
    padding: 0.5rem;
}

.navbar-image {
    margin-left: 10%;
    width: 175px;
    height: 175px;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 5rem;
}
  
.nav-item {
    padding: 5px 10px;
}

.nav-link {
    font-size: 20px;
}

.offcanvas {
    max-width: 80%;
}


@media only screen and (max-width: 990px) {
    
    .menu-style {
        padding: 0.5rem;
    }

    .navbar-image {
        margin-left: 2%;
        width: 75px;
        height: 75px;
    }

}


/* Logo */
.logo-image {
    width: 100%;
}


/* Slogan */
.slogan-text {
    margin: 4rem 0;
    height: 48px;
}


@media only screen and (max-width: 990px) {

    .slogan-text {
        margin: 2rem 0;
        height: 16px;
        font-size: 1rem;
    }

}


/* services */
.services-icon-km {
    height: 30px;
    width: 41.7px;
}

.services-icon-hmb {
    height: 30px;
    width: 30px;
}

.services-icon-ter {
    height: 30px;
    width: 36px;
}


/* gallery */
.gallery-image:hover {
    cursor: pointer;
    transform: scale(1.05);
}