/* Containers */
.container-fluid {
    padding: 0;
}

/* Top navbar */
.link-phone {
    margin-right: 2.5rem;
    text-decoration:none;
}

.link-email {
    text-decoration:none;
}

.fa-phone {
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    margin-right: 0.5rem;
    color: white!important;
  }

.fa-envelope {
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    margin-right: 0.5rem;
    color: white!important;
}

.fa-facebook {
    padding: 15px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    margin-right: 5rem;
    color: white!important;
    background: #3B5998;
  }


@media only screen and (max-width: 990px) {
    
    .link-phone {
        margin-left: 0.5rem;
        margin-right: 1rem;
        text-decoration:none;
    }

    .fa-facebook {
        padding: 10px;
        font-size: 10px;
        text-align: center;
        text-decoration: none;
        margin: 0 auto;
        color: white!important;
        background: #3B5998;
      }

}


/* Navbar menu */
.menu-style {
    padding: 0.5rem;
}

.navbar-image {
    margin-left: 10%;
    width: 175px;
    height: 175px;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 5rem;
}
  
.nav-item {
    padding: 5px 10px;
}

.nav-link {
    font-size: 16px;
}


@media only screen and (max-width: 990px) {
    
    .menu-style {
        padding: 1rem;
    }

    .navbar-image {
        margin-left: 2%;
        width: 50px;
        height: 50px;
    }

}


/* Logo */
.logo-image {
    width: 100%;
}


/* Slogan */
.slogan-container {
    margin: 4rem 0;
    height: 48px;
}

.slogan-text {
    font-family: 'Quicksand', sans-serif;
}


@media only screen and (max-width: 990px) {
    
    .slogan-container {
        height: 16px;
        margin: 2rem 0;
    }

    .slogan-text {
        font-family: 'Quicksand', sans-serif;
        font-size: 1rem;
    }

}